<div class="w-100 my-10">
  <div class="mx-auto max-w-7xl">
    <div class="mx-4">
      <div class="grid sm:grid-cols-4 gap-2">
        <div class="w-110">
          <img class="h-28 w-full object-cover border border-gray-200 rounded"
            src="https://www.micol.life/assets/img/products/slider/sub-slider1.png" />
          <!-- <div class="flex w-full text-left text-white pt-1">
            <p class="flex items-center font-semibold ">Autumn Festival</p>
            <button class="ml-auto items-center justify-center rounded bg-gray-700 text-white px-3 py-1 text-xs my-1 hover:bg-gray-600">Explore</button>
          </div> -->
        </div>
        <div class="w-110">
          <img class="h-28 w-full object-cover border border-gray-200 rounded"
            src="https://www.micol.life/assets/img/products/slider/sub-slider2.png" />
          <!-- <div class="flex w-full text-left text-white pt-1">
            <p class="flex items-center font-semibold ">Autumn Festival</p>
            <button
              class="ml-auto items-center justify-center rounded bg-gray-700 text-white px-3 py-1 text-xs my-1 hover:bg-gray-600">Explore</button>
          </div> -->
        </div>
        <div class="w-110 ">
          <img class="h-28 w-full object-cover border border-gray-200 rounded"
            src="https://www.micol.life/assets/img/products/slider/sub-slider3.png" />
          <!-- <div class="flex w-full text-left text-white pt-1">
            <p class="flex items-center font-semibold ">Autumn Festival</p>
            <button
              class="ml-auto items-center justify-center rounded bg-gray-700 text-white px-3 py-1 text-xs my-1 hover:bg-gray-600">Explore</button>
          </div> -->
        </div>
        <!-- <div class="w-100 p-2 bg-gray-800 rounded">
          <img class="h-28 w-full object-cover border border-gray-300 rounded"
            src="https://www.micol.life/assets/img/products/slider/sub-slider4.png" />
          <div class="flex w-full text-left text-white pt-1">
            <p class="flex items-center font-semibold ">Autumn Festival</p>
            <button
              class="ml-auto items-center justify-center rounded bg-gray-700 text-white px-3 py-1 text-xs my-1 hover:bg-gray-600">Explore</button>
          </div>
        </div> -->

        <div class="w-110">
          <img class="h-28 w-full object-cover border border-gray-200 rounded"
            src="https://www.micol.life/assets/img/products/slider/sub-slider5.png" />
          <!-- <div class="flex w-full text-left text-white pt-1">
            <p class="flex items-center font-semibold ">Autumn Festival</p>
            <button
              class="ml-auto items-center justify-center rounded bg-gray-700 text-white px-3 py-1 text-xs my-1 hover:bg-gray-600">Explore</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>