<div class="w-100 my-5">
  <div class="mx-auto max-w-7xl">
    <div class="mx-4 py-10">
      <ul class="grid sm:grid-cols-1 gap-6">
        <app-expansionpanel [title]="'Free shipping!'" [icon]="'attach_money'"
          [description]="'Free shipping over 3,000 yen! The campaign is now in place!'"></app-expansionpanel>
        <app-expansionpanel [title]="'Year\'s Big Thanksgiving! MiCOL Fes'" [icon]="'card_giftcard'"
          [description]="'Year\'s Big Thanksgiving! MiCOL Fes . Eligible products are up 10% !!!! Limited time: November 1, 2020 to December 27, 2020 '">
        </app-expansionpanel>
        <app-expansionpanel [title]="'Notice of the shipment stop date'" [icon]="'info'"
          [description]="'Notice of the shipment stop date due to the Year-end and New Year holidays We will stop the following year-end and New Year\'s shipment operations all day long without permission. ・ 12/29 (Tue)-1/3 (Sun) ※Since the number of orders is expected to increase during the Year-end and New Year holidays, there is a possibility that there will be a delay in the delivery of products. Please order as soon as possible.'">
        </app-expansionpanel>
      </ul>
    </div>
  </div>
</div>