<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <nav class="bg-blue-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8" src="https://www.micol.life/assets/img/common/micol-logo-w.svg" alt="Workflow" />
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <div class="mt-1 relative rounded-md shadow-sm">
                <input type="text" name="price" id="price"
                  class="focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                  placeholder="" style="padding-left: 140px; width: 35rem"
                  (keyup)="searchTerm$.next($event.target.value)" />
                <!-- --------------- -->
                <div
                  class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
                  style="z-index: 100000; width: 35rem" *ngIf="results">

                  <button type="submit"
                    class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                    role="menuitem" *ngFor="let result of results">
                    {{ result.title }}
                  </button>


                </div>
                <!-- --------------- -->

                <div class="absolute inset-y-0 left-0 flex items-center py-0.5 pl-0.5">
                  <label for="currency" class="sr-only">Options</label>
                  <select id="Currency" name="currency"
                    class="focus:ring-transparent focus:border-gray-300 focus:border-r focus:bg-gray-100 hover:bg-gray-100 h-full py-0 pl-2 pr-7 border-gray-300 border-r bg-transparent text-gray-500 sm:text-sm rounded-l-md rounded-r-none"
                    style="
                      border-left-color: transparent;
                      border-bottom-color: transparent;
                      border-top-color: transparent;
                    ">
                    <option>Product Name</option>
                    <option>Brand Name</option>
                    <option>Keywords</option>
                  </select>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center py-0.5 pr-0.5">
                  <button
                    class="focus:ring-transparent focus:border-gray-300 focus:border-l focus:bg-gray-100 hover:bg-gray-100 h-full py-0 border-gray-300 border-l bg-transparent text-gray-500 rounded-r-md rounded-l-none px-2 focus:outline-none">
                    <span class="sr-only">Advanced Search</span>
                    <!-- Heroicon name: search -->
                    <svg class="flex m-auto h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">

            <button tooltip="Advanced Search" placement="bottom" show-delay="100"
              class="p-1 rounded-full bg-white text-blue-800 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <span class="sr-only">Advanced Search</span>
              
              <svg class="h-6 w-6 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </button>
            <button tooltip="Video Description" placement="bottom" show-delay="100"
              class="p-1 rounded-full bg-white text-blue-800 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <span class="sr-only">Video Description</span>
             
              <svg class="h-6 w-6 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
            </button>
            <button tooltip="Seminar Info" placement="bottom" show-delay="100"
              class="p-1 rounded-full bg-white text-blue-800 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <span class="sr-only">Seminar Info</span>
             
              <svg class="h-6 w-6 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </button>

            <button tooltip="Rinten TV" placement="bottom" show-delay="100"
              class="p-1 rounded-full bg-white text-blue-800 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <span class="sr-only">Rinten Tv</span>
              
              <svg class="h-6 w-6 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
            </button>
            <button tooltip="Cart" placement="bottom" show-delay="100"
              class="p-1 rounded-full bg-white text-blue-800 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <span class="sr-only">View Cart</span>
              
              <svg class="h-6 w-6 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </button>
            <button tooltip="Notifications" placement="bottom" show-delay="100"
              class="p-1 rounded-full bg-white text-blue-800 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <span class="sr-only">View notifications</span>
             
              <svg class="h-6 w-6 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>

            
            <div class="ml-3 relative">
              <div>
                <button
                  class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                  id="user-menu" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full"
                    src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png"
                    alt="" />
                </button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <span class="px-3 py-1 rounded-full bg-blue-800 text-white text-sm border border-blue-700 mx-2">Free
              Shipping over 4000 yen</span>
            <button tooltip="FAQ" placement="bottom" show-delay="100"
              class="text-white hover:text-gray-200 p-1 rounded-full focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
            <button tooltip="Favourites" placement="bottom" show-delay="100"
              class="text-white hover:text-gray-200 p-1 rounded-full focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            </button>
            <button tooltip="Cart" placement="bottom" show-delay="100"
              class="text-white hover:text-gray-200 p-1 rounded-full focus:outline-none focus:ring-2 focus:ring-white mx-2">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </button>

            <!-- Profile dropdown -->
            <div class="ml-3 relative">
              <div>
                <button
                  class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none ring-2 ring-offset-2 ring-offset-gray-800 ring-white"
                  id="user-menu" aria-haspopup="true">
                  <img class="h-8 w-8 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt="" />
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="-mr-2 flex md:hidden">

          <button
            class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
            <span class="sr-only">Open main menu</span>

            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>

            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div *ngIf="alert" class="bg-indigo-100">
    <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between flex-wrap">
        <div class="w-0 flex-1 flex items-center">
          <span class="flex p-2 rounded-lg bg-indigo-800">
            <!-- Heroicon name: speakerphone -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
            </svg>
          </span>
          <p class="ml-3 font-medium text-gray-800 truncate">
            <span class="inline">
              Free Shipping over 4000 yen &amp; Same-day shipment until 12:00
              p.m.
            </span>
          </p>
        </div>
        <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
          <a href="#"
            class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md text-sm font-medium text-indigo-600 bg-white hover:bg-indigo-800 hover:text-white">
            Learn more
          </a>
        </div>
        <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
          <button type="button" (click)="closeAlert()"
            class="-mr-1 flex p-2 rounded-md bg-indigo-800 hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
            <span class="sr-only">Dismiss</span>
            <!-- Heroicon name: x -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>